In [ ]:
stock_tickers = [
    "AAPL", "MSFT", "GOOG", "GOOGL", "AMZN", "NVDA", "TSLA", "META",
    "V", "JPM", "UNH", "XOM", "LLY", "WMT", "JNJ", "MA", "AVGO", "PG", "HD",
    "ORCL", "CVX", "MRK", "KO", "PEP", "COST", "ABBV", "ADBE", "BAC", "CRM",
    "MCD", "CSCO", "PFE", "TMO", "ACN", "NFLX", "ABT", "LIN", "AMD", "DHR",
    "CMCSA", "NKE", "TMUS", "DIS", "WFC", "TXN", "UPS", "PM", "NEE", "MS"
]

In [ ]:
sheet_names = [
    'AAPL-US', 'MSFT-US', 'GOOG-US', 'GOOGL-US', 'AMZN-US', 'NVDA-US', 'TSLA-US', 'META-US',
    'V-US', 'JPM-US', 'UNH-US', 'XOM-US', 'LLY-US', 'WMT-US', 'JNJ-US', 'MA-US', 'AVGO-US',
    'PG-US', 'HD-US', 'ORCL-US', 'CVX-US', 'MRK-US', 'KO-US', 'PEP-US', 'COST-US', 'ABBV-US',
    'ADBE-US', 'BAC-US', 'CRM-US', 'MCD-US', 'CSCO-US', 'PFE-US', 'TMO-US', 'ACN-US', 'NFLX-US',
    'ABT-US', 'LIN-US', 'AMD-US', 'DHR-US', 'CMCSA-US', 'NKE-US', 'TMUS-US', 'DIS-US', 'WFC-US',
    'TXN-US', 'UPS-US', 'PM-US', 'NEE-US', 'MS-US'
]

In [ ]:
def load_df(company_code):

    # Load the Excel file and read Data from the file
    file_path = company_code + '.xlsx'
    sheet_name = company_code           
    data = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')

    # Remove rows with any NaN values
    data = data.dropna()
    # Reset the index of the DataFrame and drop the old index
    data = data.reset_index(drop=True)
    return data